@import "./variables";
@import "./icon";
@import "./canvas";
@import "./bootstrap";

/*
 * Globals
 */
@media (min-height: $breakpoint-sm) {
    .mt-n5 {
        margin-top: -5rem;
    }
}

.avatar {
    margin-bottom: 1rem;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease;
    &:hover {
        box-shadow: 0 0 4px 4px rgba(120, 120, 120, 0.2);
    }
}

.fs-smaller {
    font-size: smaller;
}
